body {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*max height has to account for 8px worth of borders*/
    max-height: 408px;
    max-width: 400px;
    
    
    
       
  }

#divContainer {

    display:flex;
    border: 1px solid blue;  
    width:100px;
    height:100px;
    align-items: center;
    text-align:center;
    justify-content: center;
    



}